$title: (
  h1: 40px,
  h2: 30px,
  h3: 20px,
);

$titles : (
  h1 : 40px,
  h2 : 36px,
  h3 : 30px,
  span : 16px,
  body : 14px,
  '#app' : 18px,
  '.box' : 40px  
);  // maps




$fontSize: 16px; //數值
