body {
  padding: 0;
  margin: 0;
}

.section2  {
   width: 100%;
   height: 400px;
   background-color: #c001d1;
   h1 {
    font-size: 30px;
    color: yellow;
    padding: 0;
    margin: 0;
   }
}

.section3 {
  width: 100%;
  height: 400px;
  background-color: #ff5757; 


}