/*css 註解*/
$fontSize: 16px; //數值
$bgc: #ddfeff; // color
$h1-space: 10px 20px 10px 0; // list

// maps
$title: (
  h1: 40px,
  h2: 30px,
  h3: 20px,
);

$color: (
  primary: rgb(79, 79, 255),
  secondary: #09ffad,
  btnColor: #f56134,
);