/*css 註解*/


$h1-space: 10px 20px 10px 0; // list

// maps



// scope 作用域

$b: 20px;
$b: 30px !default; // 提昇

span {
  font-size: $b;
}


.ws {
width: 10 + 10 + px;
height: 20 - 10 + px;
margin: 10 * 10 + px ;
padding: 10 + 20 * 3 + px ;
top : round(134.534px);
// font : (16px / 20px);
}

// 判斷式
// @if 
// @else
// @else if

$borderRadius : false;

.btn-outline {
   @if $borderRadius {
       border-radius: 8px;
   }@else {
       background-color: aqua;
   } 
}

// 斷點變數
$m-breakpoint: 414px;
$t-breakpoint : 768px;

