body {
    font-size: $fontSize;
    background-color: $bgc;
    color: #333;
  }

  .wrapper {
   width:  100%;
  }

  .fixed {
   max-width: 1366px;
   width: 100%;
   margin: 0 auto;
  }

  .container {
       background-color: #868686;
  }


