body {
    font-size: $fontSize;
    background-color: $bgc;
    color: #333;
  }

  .wrapper {
   @include layout(100);
  }

  .fixed {
   @include layout(1366px);
    
  }

  .container {
       background-color: #868686;
  }

  section {
     @include layout(1366px); 
 }
 

