@mixin center($w:300px){
  margin: auto;
  width: $w;
}

.a {
  @include center();
  background-color: #fff;
}

.b {
  @include center(400px);
  background-color: #f20;
}

// mixin btn

@mixin btn($w:120px , $bgc:#1e78ff){
   padding: 8px 10px;
   text-align: center; 
   background-color: $bgc;
   max-width: $w;
   cursor: pointer; 
   transition: all .3s ease;
   &:hover {
       background-color: darken($bgc, 10);
   }
}

.btn {
   @include btn();
}