body {
  font-size: $fontSize;
  background-color: $bgc;
  color: #333;
  @include m(){
    background-color: #333;

  }
}

.wrapper {
  @include layout(1400);
  height: 1800px;
}

.fixed {
  @include layout(1366px);
  @include m() {
    @include layout(100);
  }
}

.container {
  background-color: #868686;
  @include t() {
    background-color: #30f86c;
  }
  @include m() {
    background-color: #203ec0;
  }
}

section {
  @include layout(1366px);
}
